<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>School</title>
  </head>
  <body align="center">
    <h1>Simple App with Sequelize</h1>
    <p>
      <a href="/teachers">Teachers</a>
      <a href="/subjects">Subjects</a>
      <a href="/students">Students</a>
    </p>
  </body>
</html>
