<!DOCTYPE html>
<html lang ='en'>
    <%- include partial/head%>
    <body>
        <form class ='' action='/login' method='post'>
            <input type='text' name='username' value='' placeholder=''>
            <input type='text' name='password' value='' placeholder=''>
            <input type='submit' value='Login'>
    </body>
</html>