<!DOCTYPE html>
<html lang ='en'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%- include partial/head%>
    <body align='center'>
        <p>
            <h1>LOGIN</h1>
            <div align='center'>
                <form class ='' action='/login' method='post'>
                    <input class="w3-input" style="width:25%" type='text' name='username' value='' placeholder='Username'>
                    <input class="w3-input" style="width:25%" type='password' name='password' value='' placeholder='Password'>
                    <input class="w3-input" style="width:25%" type='submit' value='Login'>
                </form>
            </div>
        </p>
        <a href="/register">Register</a>
    </body>
</html>

<style>

</style>