<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>

    <body>
        <h1>Halaman Students</h1>
        <a href="/">Back to Home</a>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <form class="" action="/students/add" method="POST">
                    <input type="text" name="first_name" placeholder="" value="first_name">
                    <input type="text" name="last_name" placeholder="" value="last_name">
                    <input type="text" name="email" placeholder="" value="email">
                    <input type="submit" value="SUBMIT">
                </form>
            </tbody>
        </table>
    </body>
</html>